/* Background */
.background {
    -fx-background-color: linear-gradient(to bottom right, #1a1a1a, #0e0e0e);
    background-color: #141414; /* Used in the default.html file */
}

/* Labels */
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #707070;
    -fx-opacity: 0.8;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #f1f1f1;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #00ffff; /* Neon Cyan */
    -fx-opacity: 1;
    -fx-effect: dropshadow(gaussian, #00ffff, 5, 0.5, 0, 0);
}

/* Text Fields */
.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #00bfff; /* Neon Blue */
    -fx-background-color: transparent;
    -fx-border-color: #00bfff; /* Border Neon */
    -fx-border-width: 1;
    -fx-effect: innershadow(gaussian, #00bfff, 8, 0.7, 0, 0);
}

/* Tab Pane */
.tab-pane {
    -fx-padding: 0 0 0 1;
    -fx-background-color: #1a1a1a;
    -fx-border-color: #00bfff;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

/* Table View */
.table-view {
    -fx-base: #1a1a1a;
    -fx-control-inner-background: #141414;
    -fx-background-color: #141414;
    -fx-table-cell-border-color: #1e1e1e;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #282828;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ff00ff; /* Neon Purple */
    -fx-effect: dropshadow(gaussian, #ff00ff, 5, 0.5, 0, 0);
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #282828;
    -fx-text-fill: #00ffff;
}

/* Split Pane */
.split-pane:horizontal .split-pane-divider {
    -fx-background-color: linear-gradient(to right, #282828, #1a1a1a);
    -fx-border-color: #4d4d4d;
}

/* List View */
.list-view {
    -fx-background-color: #1a1a1a;
}

.list-cell:filled:even {
    -fx-background-color: #2a2a2a;
}

.list-cell:filled:odd {
    -fx-background-color: #343434;
}

.list-cell:filled:selected {
    -fx-background-color: #007fff;
    -fx-text-fill: #ffffff;
}

.list-cell .label {
    -fx-text-fill: #e6e6e6;
}

/* Button Styles */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #1e1e1e;
    -fx-border-width: 2;
    -fx-background-radius: 10;
    -fx-background-color: #00bfff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, #00bfff, 8, 0.5, 0, 0);
}

.button:hover {
    -fx-background-color: #00ffff;
    -fx-effect: dropshadow(gaussian, #00ffff, 10, 0.8, 0, 0);
}

.button:pressed {
    -fx-background-color: #141414;
    -fx-text-fill: #00ffff;
}

/* Scroll Bars */
.scroll-bar {
    -fx-background-color: #1a1a1a;
}

.scroll-bar .thumb {
    -fx-background-color: #007fff; /* Neon Blue */
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
}

/* Pane with Borders */
.pane-with-border {
    -fx-background-color: #141414;
    -fx-border-color: #2e2e2e;
    -fx-border-width: 2;
}

/* Status Bar */
.status-bar {
    -fx-background-color: #2e2e2e;
    -fx-border-color: #00bfff;
    -fx-border-width: 1px;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #00ffff;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

/* Dialog Pane */
.dialog-pane {
    -fx-background-color: #1a1a1a;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #00ffff;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: #141414;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-fill: #00bfff;
}

/* Final Touches */
#commandTextField {
    -fx-background-color: #1e1e1e;
    -fx-border-color: #00bfff;
    -fx-text-fill: #00ffff;
}

#resultDisplay .content {
    -fx-background-color: #141414;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #00bfff;
    -fx-padding: 2 4 2 4;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 12px;
}
